
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<div ng-app="myApp">
    <div ng-controller="myCtrl">
        <table class="ui selectable celled table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Ten nv</th>
                    <th>Gioi han</th>
                    <th>Ngay bd</th>
                    <th>Ngay kt</th>
                    <th>Ngay Loai nv</th>
                    <th>qua</th>
                    <th>tuy chinh</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="list in list | filter: id">
                    <td>{{$index}}</td>
                    <td>{{list.name}}</td>
                    <td>{{list.datecreate}}</td>
                    <td>{{list.dateend}}</td>
                    <td>{{list.category == null ? (list.national == null ? 'nghe nhac theo ca si' : 'nghe nhac theo quoc gia') : 'nghe nhac theo the loai'}}</td>
                    <td>{{list.gift}}</td>
                    <td>
                        <a href="#"><i class="fa fa-eye"></i></a>
                        <a href="#"><i class="fa fa-trash-alt"></i></a>
                    </td>
                </tr>
                @*<tr>
                    <td>John</td>
                    <td>No Action</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Jamie</td>
                    <td>Approved</td>
                    <td>Requires call</td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Denied</td>
                    <td>None</td>
                </tr>
                <tr class="warning">
                    <td>John</td>
                    <td>No Action</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Jamie</td>
                    <td class="positive">Approved</td>
                    <td class="warning">Requires call</td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td class="negative">Denied</td>
                    <td>None</td>
                </tr>*@
            </tbody>
        </table>
    </div>
</div>

<!-- awn gu la-->
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $http({
            method: "GET",
            url: "/JsonAdmin/AllQuest"
        }).then(function mySuccess(response) {
            $scope.list = response.data;
        }, function myError(response) {
            $scope.list = response.statusText;
        });
    });
</script>