@model Music.Model.EF.National

@{
    ViewBag.Title = "Xem thông tin quốc gia " + Model.nation_name;
    Layout = "~/Areas/AdminMain/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a onclick="history.back()" class="btn btn-danger text-white"><i class="fa fa-plus">&nbsp;</i>Trở về</a>
                <a href="/AdminMain/NationalsA/Edit/@Model.nation_id" class="btn btn-primary text-white"><i class="fa fa-edit">&nbsp;</i>Sửa quốc gia</a>

                <form class="ui form segment">
                    <div class="two fields">
                        <div class="field">
                            <label>Tên Quốc Gia</label>
                            <input value="@Model.nation_name" name="nation_name" type="text" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Ngày Tạo</label>
                            <input value="@Model.nation_datecreate" name="nation_datecreate" type="text" />
                        </div>
                        <div class="field">
                            <label>Ngày Sửa</label>
                            <input value="@Model.nation_dateupdate" name="nation_dateupdate" type="text" />
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Trạng Thái Hoạt Động</label>
                            <select class="ui dropdown" name="gender">
                                @if (Model.nation_active == true)
                                {
                                    <option value="true">Hoạt Động</option>
                                }
                                else
                                {
                                    <option value="false">Không Hoạt Động</option>
                                }
                            </select>
                        </div>
                        <div class="field">
                            <label>Trạng Thái Hiển Thị</label>
                            <select class="ui dropdown" name="gender">
                                @if (Model.nation_option == true)
                                {
                                    <option value="true">Hoạt Động</option>
                                }
                                else
                                {
                                    <option value="false">Không Hoạt Động</option>
                                }
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
