@{ 
    HttpCookie cookie = System.Web.HttpContext.Current.Request.Cookies["admin_id"];
    if(cookie == null)
    {
        Response.Redirect("/");
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="~/Content/AdminMain/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/Content/AdminMain/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/Content/AdminMain/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="~/Content/AdminMain/css/style.css" rel="stylesheet">

    <link href="~/Content/AdminMain/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/Content/fontawesome-free-5.15.2-web/css/all.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/Semantic-UI-CSS-master/semantic.min.css" rel="stylesheet" />
    <script src="~/Content/Semantic-UI-CSS-master/semantic.min.js"></script>


</head>

<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr">Music</b>
                    <span class="logo-compact">Music</span>
                    <span class="brand-title text-white font-weight-bold">
                        <center>Music Admin</center>
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">2 New Notifications</span>
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-2">5</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events near you</h6>
                                                    <span class="notification-text">Within next 5 days</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Started</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Ended Successfully</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events to Join</h6>
                                                    <span class="notification-text">After two days</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
                                <span>English</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                            </a>
                            <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="javascript:void()">English</a></li>
                                        <li><a href="javascript:void()">Dutch</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="images/user/1.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                            </a>
                                        </li>

                                        <hr class="my-2">
                                        <li>
                                            <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                        </li>
                                        <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li><hr /></li>
                    <li>
                        <a href="/AdminMain/HomeA/Index">
                            <i class="fa fa-home menu-icon"></i><span class="" style="font-size: 16px">Trang chủ</span>
                        </a>
                    </li>
                    <li><hr /></li>
                    <li>
                        <a href="/AdminMain/UsersA/IndexVip">
                            <i class="fa fa-user-friends menu-icon"></i><span class="" style="font-size: 16px">Người dùng cao cấp</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminMain/UsersA/IndexAdmin">
                            <i class="fa fa-users menu-icon"></i><span class="" style="font-size: 16px">Admin</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminMain/UsersA/Index">
                            <i class="fa fa-user menu-icon"></i><span class="" style="font-size: 16px">Người dùng</span>
                        </a>
                    </li>
                    <li><hr /></li>
                    <li>
                        <a href="/AdminMain/MusicsA/Index">
                            <i class="fa fa-music menu-icon"></i><span class="" style="font-size: 16px">Quản lý nhạc</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminMain/MusicsA/IndexVip">
                            <i class="fa fa-headphones-alt menu-icon"></i><span class="" style="font-size: 16px">Quản lý nhạc người dùng</span>
                        </a>
                    </li>
                    <li><hr /></li>
                    <li>
                        <a href="/AdminMain/PaysA/Index">
                            <i class="fa fa-file-invoice-dollar menu-icon"></i><span class="" style="font-size: 16px">Quản lý hóa đơn</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminMain/PackagesA/Index">
                            <i class="fa fa-wallet menu-icon"></i><span class="" style="font-size: 16px">Cài đặt gói vip</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminMain/ViewA/StaticPrice">
                            <i class="fa fa-money-bill menu-icon"></i><span class="" style="font-size: 16px">Thống kê doanh thu</span>
                        </a>
                    </li>
                    <li><hr /></li>
                    <li>
                        <a href="/AdminMain/CategoriesA/Index">
                            <i class="fa fa-icons menu-icon"></i><span class="" style="font-size: 16px">Quản lý danh mục</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminMain/AuthorsA/Index">
                            <i class="fa fa-user-tag menu-icon"></i><span class="" style="font-size: 16px">Quản lý tác giả</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminMain/NationalsA/Index">
                            <i class="fa fa-globe-asia menu-icon"></i><span class="" style="font-size: 16px">Quản lý quốc gia</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminMain/SlidersA/Index">
                            <i class="fa fa-sliders-h menu-icon"></i><span class="" style="font-size: 16px">Quản lý slider</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminMain/SingersA/Index">
                            <i class="fa fa-id-card-alt menu-icon"></i><span class="" style="font-size: 16px">Quản lý ca sỹ</span>
                        </a>
                    </li>
                    <li><hr /></li>
                    <li>
                        <a href="/AdminMain/AlbumsA/Index">
                            <i class="fa fa-compact-disc menu-icon"></i><span class="" style="font-size: 16px">Quản lý albums</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminMain/PlayListsA/Index">
                            <i class="fa fa-record-vinyl menu-icon"></i><span class="" style="font-size: 16px">Quản lý playlist</span>
                        </a>
                    </li>
                    <li><hr /></li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                @RenderBody()
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <script>
            $('.ui.dropdown')
                .dropdown()
                ;
        </script>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/Content/AdminMain/plugins/common/common.min.js"></script>
    <script src="~/Content/AdminMain/js/custom.min.js"></script>
    <script src="~/Content/AdminMain/js/settings.js"></script>
    <script src="~/Content/AdminMain/js/gleek.js"></script>
    <script src="~/Content/AdminMain/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="~/Content/AdminMain/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="~/Content/AdminMain/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="~/Content/AdminMain/plugins/d3v3/index.js"></script>
    <script src="~/Content/AdminMain/plugins/topojson/topojson.min.js"></script>
    <script src="~/Content/AdminMain/plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="~/Content/AdminMain/plugins/raphael/raphael.min.js"></script>
    <script src="~/Content/AdminMain/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="~/Content/AdminMain/plugins/moment/moment.min.js"></script>
    <script src="~/Content/AdminMain/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="~/Content/AdminMain/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/Content/AdminMain/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>


    <script src="~/Content/AdminMain/js/dashboard/dashboard-1.js"></script>

    <script src="~/Content/AdminMain/plugins/common/common.min.js"></script>
    <script src="~/Content/AdminMain/js/custom.min.js"></script>
    <script src="~/Content/AdminMain/js/settings.js"></script>
    <script src="~/Content/AdminMain/js/gleek.js"></script>
    <script src="~/Content/AdminMain/js/styleSwitcher.js"></script>

    <script src="~/Content/AdminMain/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminMain/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/AdminMain/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous"></script>


    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
</body>

</html>